* {
  margin: 0;
  box-sizing: border-box;
}

/* NAV BAR */
.nav-container {
  background-color: #191919;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  height: 5rem;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: top 0.3s;
}
.nav-container .nav-list {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-container .nav-item {
  margin: 0 20px;
}
.nav-container .logo-container {
  background-color: white;
  border-radius: 0.5rem;
}
.nav-container a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.user-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* PAGE */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
